@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "YoungSerif";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/young-serif/YoungSerif-Regular.ttf) format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/outfit/Outfit-VariableFont_wght.ttf) format("woff2");
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f3e5d8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
